    <div class="ui fluid bottom fixed inverted menu">
            <div class="ui container">
                <a class="item" href="https://github.com/gargarchit"><i class="copyright icon"></i> Archit</a>
                <a class="github popup icon item" data-content="Fork on GitHub" href="https://github.com/gargarchit/LetsChat">
                <i class="fork icon"></i>
                </a>
                <a class="bug popup icon item" data-content="Submit Bug Report" href="https://github.com/gargarchit/LetsChat/issues/new?title=[Icon]%20-%20Your%20Bug%20Name&body=**Steps%20to%20Reproduce**%0A1.%20Do%20something%0A2.%20Do%20something%20else.%0A3.%20Do%20one%20last%20thing.%0A%0A**Expected**%0AThe%20Icon%20should%20do%20this%0A%0A**Result**%0AThe%20Icon%20does%20not%20do%20this%0A%0A**Testcase**%0A(fork%20this%20to%20get%20started)">
                <i class="bug icon"></i>
                </a>
                <div class="right menu">
                    <div class="item"><a href="https://github.com/gargarchit"><i class="github icon"></i></a></div>
                    <div class="item"><a href="https://www.linkedin.com/in/garg4"><i class="linkedin icon"></i></a></div>
                    <div class="item"><a href="https://twitter.com/a_rchit"><i class="twitter icon"></i></a></div>
                </div>
            </div>
        </div>
    </body>
</html>