        <p style="padding-bottom: 1%;"></p>
        <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="https://github.com/gargarchit">Made with&nbsp;<i class="heart icon"></i> by Archit&nbsp;<i class="copyright outline icon"></i>2019 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Want to Contribute</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown10">
                        <a class="dropdown-item" href="https://github.com/gargarchit/LetsChat/"><i class="github icon"></i>&nbsp;source code</a>
                        <a class="dropdown-item" href="https://github.com/gargarchit/LetsChat/fork"><i class="fork icon"></i>&nbsp;Fork</a>
                        <a class="dropdown-item" href="https://github.com/gargarchit/LetsChat/issues/new?title=[Icon]%20-%20Your%20Bug%20Name&body=**Steps%20to%20Reproduce**%0A1.%20Do%20something%0A2.%20Do%20something%20else.%0A3.%20Do%20one%20last%20thing.%0A%0A**Expected**%0AThe%20Icon%20should%20do%20this%0A%0A**Result**%0AThe%20Icon%20does%20not%20do%20this%0A%0A**Testcase**%0A(fork%20this%20to%20get%20started)">
                        <i class="bug icon"></i>&nbsp;Report Bug
                        </a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-dark" href="https://github.com/gargarchit"><i class="github icon"></i></a>
            <a class="btn btn-dark" href="https://www.linkedin.com/in/garg4"><i class="linkedin icon"></i></a>
            <a class="btn btn-dark" href="https://twitter.com/a_rchit"><i class="twitter icon"></i></a>
            </div>
        </nav>
    </body>
</html>