<!-- Header -->
<html>
    <head lang="en">
        <meta charset="utf-8">
		<meta name="description" content="LetsChat Social Networking Site">
        <meta name="keywords" content="NodeJS, MongoDB, BootStrap, Social Sites, Letschat">
        <meta name="author" content="Archit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<meta http-equiv="refresh" content="120">-->
        <title>
            LetsChat
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link href="/app.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- Navbar -->
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <span></span>
            <a class="navbar-brand" href="/post"><i class="paper plane icon"></i>LetsChat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto"><li class="nav-item active"></li></ul>
                <% if(!currentuser){ %>
                <a class="btn btn-dark" href="/login"><i class="sign in icon"></i> Login</a>
                <a class="btn btn-dark" href="/signup"><i class="add user icon"></i> SignUp</a>
                <% } else { %>
                <a class="btn btn-dark" href="/chat"><i class="rocketchat icon"></i>Chat Room</a>
                <a class="btn btn-dark" href = "/createpost"><i class="edit icon"></i>Create Post</a>
                <a class="btn btn-dark" href="../../user/<%=currentuser._id%>">Hi <%= currentuser.name %>!</a>
                <a class="btn btn-dark" href="/logout"><i class="sign out icon"></i> Logout</a>
                <% } %>               
            </div>s
        </nav>
        <!--Navbar End -->
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger"><p><%=error %></p></div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success"><p><%= success %></p></div>
            <% } %>
        </div>