<!-- Header -->
<html>
    <head>
        <title>
            LetsChat
        </title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link href="/app.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!-- Navbar -->
        <div class="ui fluid fixed inverted menu">
            <div class="ui container">
                <a class="item" href="/post"><i class="paper plane icon"></i></a>
                <div class="header item"><a href = "/post">LetsChat</a></div>
                <div class="right menu">
                    <% if(!currentuser){ %>
                            <div class="item"><a class="ui inverted button" href="/login"><i class="sign in icon"></i> Login</a></div>
                            <div class="item"><a class="ui inverted button" href="/signup"><i class="add user icon"></i> SignUp</a></div>
                    <% } else { %>
                            <div class="item"><a class="ui inverted button" href="#"><i class="rocketchat icon"></i>Chat Room</a></div>
                            <a class="item" href = "/createpost"><i class="edit icon"></i>Create Post</a>
                            <a class="item" href="#">Hi <%= currentuser.name %>!</a>
                            <div class="item"><a class="ui inverted button" href="/logout"><i class="sign out icon"></i> Logout</a></div>
                    <% } %>
                </div>
            </div>
        </div>
