<% include partials/header.ejs %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><i class="paper plane icon"></i> Welcome to LetsChat</h1>
    <h3 class="display-4">Chat Room - LoggedIn as : <em><%=user.name%> @ <%=user.username%></em></h3>
  </div>
</div>
<div class="container">
  <div class="col-md-9">
    <div class="well">
      <div class="row">
          <div class="col-md-12">
            <ul id="messages">
              <li>
                <em>Welcome <strong><%=user.name%></strong> to LetsChat's Chat Room</em>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="row">
        <div class="col-md-12">
          <form action="" id="message-form">
            <div class="form-row align-items-center">
              <label for="m" class="col-sm-1 col-form-label"><strong><em>Message:</em></strong></label>
              <div class="col-sm-9 my-1">
                <input name="message" type="text" class="form-control" id="m" autofocus autocomplete="off" />
              </div>
              <div class="col-auto my-1">
                <button class="btn btn-primary"><i class="paper plane icon"></i> Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>

    <link href="/chat.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous">
    </script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(message){
          $('#messages').append($('<li>').text(message));
          window.scrollTo(0, document.body.scrollHeight);
        });
    });
    </script>
<% include partials/footer.ejs %>
