<% include partials/header.ejs %>

<div class="ui main text container segment" style="margin-top: -100px;">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/post" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Caption</label>
            <div class="ui left icon input">
                <i class="edit icon"></i>
                <input type="text" name="Post[caption]" placeholder="Caption">
            </div>  
        </div>
        <div class="field">
            <label>Image</label>
            <div class="ui left icon input">
                <i class="image icon"></i>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
        </div>
        <button class="ui fluid large teal button">Create Post</button>
    </form>
    <div class="ui message">
        <a href = "/post"><i class="backward icon"></i> Go back</a>
    </div>
</div>


<% include partials/footer.ejs %>