<% include partials/header.ejs %>

<div class="ui main text container segment" style="margin-top: -100px;">
    <div class="ui huge header">New Comment</div>
    <form class="ui form" action="/post/<%= post._id %>/comments"method="POST">
        <div class="field">
            <label>Comment</label>
            <div class="ui left icon input">
                <i class="edit icon"></i>
                <input type="text" name="Comment[text]">
            </div> 
        </div>
        <button class="ui fluid large teal button">Create Comment</button>
    </form>
    <div class="ui message">
        <a href = "/post"><i class="backward icon"></i> Go back</a>
    </div>
</div> 

<% include partials/footer.ejs %>