<% include partials/header.ejs %>
<div class="ui main text container segment" style="margin-top: -100px;">
    <div class="ui huge header">EDIT POST</div>
    <form class="ui form" action="/post/<%= post._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Caption</label>
            <div class="ui left icon input">
                <i class="edit icon"></i>
                <input type='text' name='caption' value='<%= post.caption %>'>
            </div> 
        </div>
        <div class="field">
            <label>Image</label>
            <div class="ui left icon input">
                <i class="image icon"></i>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
        </div>
        <button class="ui fluid large teal button">Update</button>
    </form>
    <div class="ui message">
        <a href = "/post/<%= post._id %>"><i class="backward icon"></i> Go back</a>
    </div>
</div>
<% include partials/footer.ejs %>