<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit Comment</div>
    <form class="ui form" action="/post/<%= post_id %>/comments/<%= comment._id %>?_method=PUT"method="POST">
        <div class="field">
            <label>Comment</label>
            <div class="ui left icon input">
                <i class="edit icon"></i>
                <input type="text" name="Comment[text]" value="<%= comment.text %>">
            </div> 
        </div>
        <button class="ui fluid large teal button">Update Comment</button>
    </form>
    <div class="ui message">
        <a href = "/post"><i class="backward icon"></i> Go back</a>
    </div>
</div> 

<% include partials/footer.ejs %>