<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 - Page not found</h2>
                <div class="error-details">
                    The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                </div>
                <div class="error-actions">
                    <a href="/post" class="btn btn-primary btn-lg">Go To Homepage </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
