<% include partials/header.ejs %>
<div>
    <p class="font-italic"> <%= post.created %> </p>
</div>
<img src =" <%= post.image %>" class="img-fluid">
<div class="caption">
    <h4> <%= post.caption %> </h4>
</div>
<% include partials/footer.ejs %>