<% include partials/header.ejs %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        <i class="add user icon"></i> Create an account
      </div>
    </h2>
    <form class="ui large form" action='/signup' method='POST'>
      <div class="ui stacked segment">
        <h4 class="ui dividing header">Account Info</h4>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal button" type="submit">Sign Up</button>
      </div>

    </form>

    <div class="ui message">
      Already have an account? <a href="/login">Login</a>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>