
body {
      background-color: #d4efdf;
      margin-top:100px;
}
body > .grid {
      height: 100%;
    }
.jumbotron {
    margin-top: -60px; 
    background : url('/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .container{
    color: white
}
.image {
      margin-top: -100px;
    }
.column {
      max-width: 450px;
    }
.container.main {
    margin: auto;
    position: relative;
    top: 25%;
}
.container.text {
    margin-top: 3.0em;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.thumbnail img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.navbar .navbar-brand{
    margin-left:10%;
}
.navbar .collapse{
    margin-left:10%;
    margin-right:10%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }