
body {
      background-color: #DADADA;
    }
body > .grid {
      height: 100%;
    }
.image {
      margin-top: -100px;
    }
.column {
      max-width: 450px;
    }
.container.main {
    margin: auto;
    position: relative;
    top: 25%;
}
.container.text {
    margin-top: 3.0em;
}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

